# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Object files
*.o
*.obj
*.a

# Executables
*.exe
*.out
*.app

# Binaries
blek_3d
game_server

# CMake Files and Cache
server/CMakeCache.txt
server/CMakeFiles/
